<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
          background-image: url('static/team.jpeg');
          background-size: cover;
        }
    </style>
	<center>
	<h1>the house of volley ball players!</h1>		
	
	<h1>
		we are selling all the supplies for a volley ball player
	</h1>
<h2>
	"stressed,blessed and VOLLEYBALL obsessd"
</h2>
<h3>
	mini priject 
	by:maya bsharat:)
</h3>
<a href="/signin"><button>let's start!</button></a>


</body>