<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        img{
            height: 250px;
            width: 350px;
        }
    </style>
</head>
<body style="background-color:powderblue;">
    <center>


        <title>Product</title>

        <h1> </h1>
        <h1> your email is {{user['email']}}</h1>
        <h1>the best volleyball balls ever</h1>
                    <a href="/cart/ball.webp"><button>add to cart!</button></a>
            <img src="static/ball.webp">
                    <h3>$50</h3>
                    <a href="/cart/ball2.jpg"><button>add to cart!</button></a>
            <img src="static/ball2.jpg">
                    <h3>$55</h3>
                    <a href="/cart/ball3.jpeg"><button>add to cart!</button></a>
            <img src="static/ball3.jpeg">
                    <h3>$40</h3>
                    <a href="/cart/ball4.jpeg"><button>add to cart!</button></a>
            <img src="static/ball4.jpeg">
                    <h3>$34</h3> 
                    <a href="/cart/ball5.jpg"><button>add to cart!</button></a>    
            <img src="static/ball5.jpg">
                    <h3>$60</h3>
                    <a href="/cart/ball6.jpeg"><button>add to cart!</button></a>
            <img src="static/ball6.jpeg">
                    <h3>$66</h3>
            <h1>the best volleyball Shoes</h1>
                <a href="/cart/shoes.webp"><button>add to cart!</button></a>
            <img src="static/shoes.webp">
                <h3>$100</h3>
                <a href="/cart/shoes2.jpg"><button>add to cart!</button></a>
            <img src="static/shoes2.jpg">
                <h3>$130</h3>
                <a href="/cart/shoes3.jpg"><button>add to cart!</button></a>
            <img src="static/shoes3.jpg">
                <h3>$60</h3>
                <a href="/cart/shoes4.jpg"><button>add to cart!</button></a>
            <img src="static/shoes4.jpg">
                <h3>$170</h3>
                <a href="/cart/shoes5.webp"><button>add to cart!</button></a>
            <img src="static/shoes5.webp">
                <h3>$77</h3>
                <a href="/cart/shoes6.webp"><button>add to cart!</button></a>
            <img src="static/shoes6.webp">
                <h3>$45</h3>
               
            <h1> the perfect clothes</h1>
                <h3>$45</h3>
                <a href="/cart/clothes.jpg"><button>add to cart!</button></a>
            <img src="static/clothes.jpg">
                <h3>50$</h3>
                <a href="/cart/clothes2.jpg"><button>add to cart!</button></a>
            <img src="static/clothes2.jpg">
                <h3>50$</h3>
                <a href="/cart/clothes3.png"><button>add to cart!</button></a>
            <img src="static/clothes3.png">
                <h3>50$</h3>
                <a href="/cart/clothes4.jpg"><button>add to cart!</button></a>
            <img src="static/clothes4.jpg">
                <h3>50$</h3>
                <a href="/cart/clothes5.jpg"><button>add to cart!</button></a>
            <img src="static/clothes5.jpg">
                <h3>50$</h3>
                <a href="/cart/clthes6.jpeg"><button>add to cart!</button></a>
            <img src="static/clthes6.jpeg">
                <h3>50$</h3>
                

    </center>
    <a href="/">
            <button>home page </button>
    <a href="/cart">
            <button>cart page </button>


</body>
</html>